<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{record.species}}</mat-card-title>
    <mat-card-subtitle>{{record.scientificName}}</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="https://via.placeholder.com/150x150" alt="Photo of a {{record.species}}"> -->
  <mat-card-content>
    <ul>
      <li>Weight: {{record.weight | poundFormater}}</li>
      <li>Location: {{record.location}}</li>
      <li>Angler: {{record.angler}}</li>
      <li>Date: {{record.date}}</li>
    </ul>
  </mat-card-content>
</mat-card>